*{
    margin: 0;
    padding: 0; /* Added padding reset */
    box-sizing: border-box;
}

:root {
    /* === Primary Colors === */
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);

    /* === Neutral Colors === */
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);

    /* === Typography === */
    --font-body-size: 15px;
    --font-family: 'Poppins', sans-serif;
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
                 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

body{
    width: 100%;
    height: 100%;
    font-family:  var(--font-family);
    padding: 1.5rem;
}

header{
    padding-block-start: 2.5rem;
    padding-block-end: 4rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.sub-title{
    font-size: 1.5rem;
    font-weight: var(--font-weight-light);
    color: var(--color-grey-400);
}

.title{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-500);
}

.content{
    font-weight: var(--font-weight-regular);
    padding-block-start: 1rem;
    text-align: center;
    color: var(--color-grey-500);
}

main{
    display: grid;
    grid-template-columns: auto;
    gap: 0.625rem;
    min-width: 20rem;
}

.cards{
    width: 20.3125rem;
    height: 15.625rem;
    padding: 1.4em;
    border-radius: 0.5rem;
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-supervisor{
    border-block-start: solid 0.3rem var(--color-cyan);
    align-self: center;
    justify-self: center;
}

.card-teamBuilder{
    border-block-start: solid 0.3rem var(--color-red);
    align-self: center;
    justify-self: center;
}

.card-karma{
    border-block-start: solid 0.3rem var(--color-orange);
    align-self: center;
    justify-self: center;
}

.card-calculator{
    border-block-start: solid 0.3rem var(--color-blue);
    align-self: center;
    justify-self: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-grey-500);
    margin-block-end: 0.4em;
}

.card-description{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-size);
    color: var(--color-grey-400);
}

.card-image{
    width: 100%;
    height: 4rem;
    justify-content: flex-end;
    display: flex;
}

.card-image img{
    display: block;
    width: 4rem;
    max-width: 4rem;
    min-width: 4rem;
}

footer{
    margin-block-start: 6rem;
    margin-block-end: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-body-size);
}

@media only screen and (min-width: 37.5rem) {
    header{
        padding-block-start: 6rem;
        padding-block-end: 5rem;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    main{
        max-width: 1100px;
        margin: 0 auto;
        /* min-width: 50rem; */
        /* padding-inline-start: 5rem;
        padding-inline-end: 5rem; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.875rem;
    }

    .sub-title, .title{
        font-size: 2.2rem;
    }

    .content{
        font-weight: var(--font-weight-regular);
        padding-block-start: 0.5rem;
        text-align: center;
        color: var(--color-grey-500);
        /* width: 100%;
        max-width: 53rem; */
        width: min(100%, 53rem);
        padding-inline-start: 10rem;
        padding-inline-end: 10rem;
        margin-inline-start: auto; 
        margin-inline-end: auto;
    }

    .cards{
        padding: 1.4em;
        border-radius: 0.8rem;
    }

    .card-supervisor{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        align-self: center;
        justify-self: center;
    }

    .card-teamBuilder{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        align-self: center;
        justify-self: center;
    }

    .card-karma{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
        align-self: center;
        justify-self: center;
    }

    .card-calculator{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        align-self: center;
        justify-self: center;
    }

    footer{
        margin-block-start: 6rem;
        margin-block-end: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: var(--font-body-size);
    }
}